<div class='online-queue-widget'>
  <div
    style='background: rgb(255, 255, 255);'
    class='online-queue-widget__inner'
  >
    <div class='online-queue-widget__company'>
      <p class='online-queue-widget__title'>Запишитесь на прием в {{name}}.</p>
      <p class='online-queue-widget__text'>Связаться с нами можно по почте
        <span style='text-decoration: underline;'>{{email}}</span></p>
    </div>
    <div id='online-queue-calendar'>
      <strong>Календарь</strong>
    </div>
    <form
      id='online-queue-form'
      action='http://localhost:3000/customers'
      method='post'
    >
      <div id='info'></div>
      <input type='email' placeholder='email' name='email' required />
      <input type='text' placeholder='name' name='name' required />
      <input type='tel' placeholder='phone' name='phone' required />
      <input id='appointmentId' type='text' name='appointmentId' hidden />
      <button type='submit'>Записаться</button>
      <button type='button' class='close'>Назад</button>
    </form>
  </div>
</div>